body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #131212;
}

header {
    background: #9b4949;
    color: #fff;
    padding: 1rem 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
